h3 {
  font-size: 10px;
  text-align: center;
  background-color: blueviolet;
}

p {
  /* background-color: red; */
  /* color: blue; */
  font-size: 20px; /* размер шрифта */
  font-weight: 400; /* жирность шрифта 100-900 */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  /* color: #000000; hex 0-9a-f */
  /* color: rgba(0, 0, 0, 0.3); rgb 0-255 */
  /* background-color: brown; */

  /* width: 100px; */
  /* height: 600px; */
  /* border-width: 5px;
  border-style: dashed;
  border-color: red; */
  border: 5px solid pink; /* width style color */
  /* margin: 30px; внешний отступ */
  margin-top: 50px;
  padding: 50px;

  background-color: red;
}

div {
  position: fixed;
  top: 50%;
  left: 50%; 
  /* /* bottom: ; */
  /* right: 20px;  */
  height: 20px;
  width: 20px;
  background-color: brown;
}


span {
  color: red;
  font-size: 20px;
  background-color: aqua;
}


div {
  display: flex;
}