<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Handlebars engine</title>
</head>
<body>
  <h1>{{netitle}}</h1>
  <h3>Количество пользователей: {{lengthOfUsers}}</h3>
  <div><a href="/createUser">Создать нового пользователя</a></div>
  <ul>
    {{#each users as |user|}}
    <li>
      <a href="/{{user.username}}">{{user.name}}</a>
    </li>
    {{/each}}
  </ul>
</body>
</html>